@import "../../responsive.scss";

.Page {
  height: 100%;
  margin-top: 3rem;
  
  @include lg{
    margin-top: 7rem;
  }
  @include md {
    margin-top: 5rem;
  }

  @include sm {
    margin-top: 0rem;
  }

  .homePage {
    display: flex;
    .textContainer {
      flex: 3;

      .wrapper {
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: 100%;

        @include lg {
          padding-right: 50px;
        }

        @include md {
          padding: 0;
        }

        @include sm {
          justify-content: flex-start;
        }

        .title {
          padding: 0.3rem;
          @include md {
            margin-top: 0;
          }

          @include sm {
            margin-top: 8rem;
          }

          .sub-text {
            display: block;
            margin: 0.4rem 0;
            color: #034694;
          }

          .text {
            margin: 0.9rem 0;
          }

          .btn {
            margin: 0.4rem 0;
            cursor: pointer;
            padding: 1.03rem 1.05rem;
            background-color: #fff;
            border: 3px solid #034694;
            width: 200px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: 1s all ease-in-out;

            @include sm{
              width: 160px;
            }

            span {
              margin-top: 0.09rem;
              margin-left: 0.19rem;
              animation: topdown 1s infinite ease-in-out;
            }

            @keyframes topdown {
              0%,
              100% {
                transform: translateY(0);
              }
              50% {
                transform: translateY(-10px);
              }
            }

            &:hover {
              scale: 1.03;
            }
          }
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      @include lg {
        width: 105%;
      }
    }
  }
}
