@import "../../responsive.scss";

.form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @include sm{
    margin-top: 6rem;
  }

  .form-main {
    
    max-width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
    box-shadow: 12px 9px 49px -17px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;

    @include sm{
      flex-direction: column;
    }

    .form-content {
      flex: 2;
      flex-basis: 50%;
      padding: 3em 3em;
      background: #fff;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      @include sm {
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      form {
        margin: 30px 0;
        h5 {
          margin-bottom: 2.5rem;
          color: #034694;
          text-align: center;

          @include sm{
            font-size: 25px;
          }
        }
        
        input {
          outline: none;
          border-radius: 35px;
          margin-bottom: 15px;
          font-stretch: 16px;
          margin-top: 0.4rem;
          text-align: left;
          padding: 14px 20px;
          width: 100%;
          display: inline-block;
          box-sizing: border-box;
          border: none;
          background: #f7fafc;
          transition: all 0.5s ease-in-out;

          &:focus {
            background: transparent;
            border: 1px solid #4e34b6;
          }
        }
      }

      .btn {
        display: flex;
        flex-direction: column;

        button {
          margin-top: 0.3rem;
          border-radius: 35px;
          font-size: 18px;
          color: #fff;
          cursor: pointer;
          width: 100%;
          background: #034694;
          border: none;
          padding: 14px 15px;
          font-weight: 600;
          transition: 0.3s ease;

          &:hover {
            color: #272346;
            transition: 0.5s ease;
          }
        }

        p{
          margin-top: .5rem;
          font-size: 0.9rem;

          a{
            font-size: 0.9rem;
          }
        }
      }
    }

    .form-image {
      flex: 1;
      flex-basis: 50%;
      background-size: cover;
      display: grid;
      align-items: center;

      @include sm {
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .popup-message {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #4e34b6; /* Green background for success */
      color: white;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1000; /* Ensure it appears above other elements */
      animation: fadeOut 2s ease-in-out forwards; /* Fade out animation */
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      60% {
        opacity: 0.6;
      }
      80% {
        opacity: 0.4;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
