@import "../../responsive.scss";

.serviceIntro {
  margin-top: 2.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;

  @include md{
    flex-direction: column;
    gap: 1rem;
  }

  h4 {
    text-align: center;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .item {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      background-color: #fff;
      border-radius: 8px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      img {
        margin-bottom: 1rem;
        border-radius: 50%;

        transition: box-shadow 0.3s ease;
      }

      .caption {
        font-weight: 500;
        margin-top: 0.5rem;
        line-height: 1.5;
        font-size: 1.1rem;
        font-weight: bold;
        color: #034694;

        h5 {
          text-align: center;
        }

        .sub_caption {
          display: block;
          
          font-weight: 400;
          text-align: center;
          color: #000;
          
        }
      }

      &:hover {
        transform: translateY(-10px);
        box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.1);

        img {
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }
      }
    }

    .item:nth-child(2) {
      .caption {
        margin-top: 2.5rem;

        @include sm {
          margin-top: 2.5rem;
        }
      }
    }
  }
}


