@import "../../responsive.scss";

.about {
  margin-top: 3rem;
  .page {
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px 0;

    // Center vertical line
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 4px;
      background-color: #ddd;
      z-index: 1;

      @include sm {
        left: 10%;
      }
    }

    .page-item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      // Alternating content alignment
      &.left {
        justify-content: flex-start;
        @include sm {
          justify-content: flex-end;
        }
      }

      &.right {
        justify-content: flex-end;

        .timeline-content {
          padding-left: 10px;
        }
      }

      // Circle in the center
      .circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #034694;
        z-index: 2;
        position: absolute;
        left: calc(50% - 15px); // Center the circle
        scale: 0.7;

        @include sm {
          left: 7%;
        }
      }

      // Content container
      .timeline-content {
        padding: 15px;
        border-radius: 5px;
        width: 40%;
        z-index: 2;
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.2);
        }

        @include sm {
          width: 70%;
        }

        h2 {
          margin: 0;
          color: #034694;
        }

        p {
          margin: 0.5rem 0 0 0;
        }
        ul {
          padding-left: 20px;
          margin-top: 10px;
          list-style: disc;

          li {
            margin: 5px 0;
            color: #333;
          }
        }
      }
    }
  }

  .team-layout {
    background-color: #034694;
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px 0;
  }
}
